# Deployed VaultVest contract — Stellar Testnet (see Section 6 of the spec)
NEXT_PUBLIC_CONTRACT_ID=CAAGQQVFJQ7UUPZ4PEBG77SEDAF4CLIYWKW544FUYMCW3QSHGULJMSR5
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_TOKEN_CONTRACT_ID=CBD4XOY6GYB2BR52IOQG5LZH3H4UHIZ6YMTFREMWG3KW2JJQPLGSXSYA
